/.Vivado_Synthesis.queue.rst
/.vivado.begin.rst
/.vivado.end.rst
/__synthesis_is_complete__
/ISEWrap.js
/ISEWrap.sh
/counter_8b.dcp
/counter_8b.tcl
/counter_8b.vds
/counter_8b_utilization_synth.pb
/counter_8b_utilization_synth.rpt
/gen_run.xml
/htr.txt
/project.wdf
/rundef.js
/runme.bat
/runme.log
/runme.sh
/vivado.jou
/vivado.pb
